.login-container {
  width: 500px;
  margin: 80px auto;
  padding: 50px;
  background-color: #f8f9;

  h1 {
    text-align: center;
    color: #333;
  }

  h4 {
    margin: 10px 0 5px;
    color: #3f0956;
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
