// Theme Colors
$primary-color: #007bff;
$primary-hover: #0056b3;

$text-color: #333;
$heading-color: #3f0956;
$border-color: #ccc;
$background-color: #f8f9;
$light-background: #f9f9f9;

// Fonts
$font-family: "Lucida Console", "Courier New", monospace;
$base-font-size: 16px;

// Radius
$border-radius: 5px;
$button-radius: 8px;
$container-radius: 12px;
